{% extends 'base.html.twig' %}

{% block title %}Player{% endblock %}

{% block body %}
    <h1>Player</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ Player.id }}</td>
            </tr>
            <tr>
                <th>PlayerName</th>
                <td>{{ Player.PlayerName }}</td>
            </tr>
            <tr>
                <th>DateOfRegistration</th>
                <td>{{ Player.dateOfRegistration }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_Player_index') }}">back to list</a>

    <a href="{{ path('app_Player_edit', {'id': Player.id}) }}">edit</a>

    {{ include('player/_delete_form.html.twig') }}
{% endblock %}
