{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <h1>Admin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ admin.id }}</td>
            </tr>
            <tr>
                <th>LoginName</th>
                <td>{{ admin.loginName }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ admin.password }}</td>
            </tr>
            <tr>
                <th>LoginIP</th>
                <td>{{ admin.loginIP }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_index') }}">back to list</a>

    <a href="{{ path('app_admin_edit', {'id': admin.id}) }}">edit</a>

    {{ include('admin/_delete_form.html.twig') }}
{% endblock %}
