{% extends 'base.html.twig' %}

{% block title %}Nation index{% endblock %}

{% block body %}
    <h1>Nation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NationName</th>
                <th>CountOfTanks</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nation in nations %}
            <tr>
                <td>{{ nation.id }}</td>
                <td>{{ nation.nationName }}</td>
                <td>{{ nationCount[nation.id] }}</td>
                <td>
                    <a href="{{ path('app_nation_show', {'id': nation.id}) }}">show</a>
                    <a href="{{ path('app_nation_edit', {'id': nation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_nation_new') }}">Create new</a>
{% endblock %}
